<launch>
  <node pkg="jetbot_ros" type="jetbot_motors.py" name="jetbot_motors"> </node>
 
<node pkg="grayson_sensors" type="wheel_encoder.py" name="wheel_encoder_left">
		<param name="channel" value="LCD_BL_PW"/>
		<param name="period" value="0.25"/>
  </node>
  <node pkg="grayson_sensors" type="wheel_encoder.py" name="wheel_encoder_right">
		<param name="channel" value="GPIO_PZ0"/>
		<param name="period" value="0.25"/>
  </node>


  <rosparam param="ticks_meter">42.105</rosparam>

  <node pkg="differential_drive" type="pid_velocity.py" name="lpid_velocity">
      <remap from="wheel" to="lwheel"/>
      <remap from="motor_cmd" to="lmotor_cmd"/>
      <remap from="wheel_vtarget" to="lwheel_vtarget"/>
      <remap from="wheel_vel" to="lwheel_vel"/>
      <rosparam param="Kp">.7</rosparam>
      <rosparam param="Ki">0</rosparam>
      <rosparam param="Kd">0</rosparam>
      <rosparam param="out_min">-0.5</rosparam>
      <rosparam param="out_max">0.5</rosparam>
      <rosparam param="rate">4</rosparam>
      <rosparam param="timeout_ticks">4</rosparam>
      <rosparam param="rolling_pts">5</rosparam>
  </node>
  <node pkg="differential_drive" type="pid_velocity.py" name="rpid_velocity">
      <remap from="wheel" to="rwheel"/>
      <remap from="motor_cmd" to="rmotor_cmd"/>
      <remap from="wheel_vtarget" to="rwheel_vtarget"/>
      <remap from="wheel_vel" to="rwheel_vel"/>
      <rosparam param="Kp">.7</rosparam>
      <rosparam param="Ki">.2</rosparam>
      <rosparam param="Kd">.2</rosparam>
      <rosparam param="out_min">-0.5</rosparam>
      <rosparam param="out_max">0.5</rosparam>
      <rosparam param="rate">4</rosparam>
      <rosparam param="timeout_ticks">4</rosparam>
      <rosparam param="rolling_pts">5</rosparam>
  </node>

  <!-- <node pkg="differential_drive" type="virtual_joystick.py" name="virtual_joystick" output="screen"/> 

  <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors" output="screen">
    <rosparam param="base_width">0.097</rosparam>
  </node>


  <param name="robot_description" textfile="$(find grayson)/urdf/grayson.urdf" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node pkg="rviz" type="rviz" name="rviz" output="screen"/>

  <node pkg="differential_drive" type="diff_tf.py" name="diff_tf">
     <rosparam param="rate">4.0</rosparam>
     <rosparam param="base_width">0.097</rosparam>
  </node>
-->
  

</launch>
